
head{
  font-weight: bold;
  font-family: serif;
  color: azure;
  background-color: darkcyan;
}

body{
  font-weight:bold;
  font-family:serif;
  font-size: 18px;
  color:darkblue;
  background-color: cornflowerblue;
  display: block;
  margin-top: 30px;
  border-top: 10px;
  padding-top: 15px;
}

header{
  text-align: center;
  font-size: 25px;
  color: azure;
  padding: 25px;
}

p{
  text-align: center;
  color: darkblue;
  display:inline-block
  max-width:
  padding:50px;
}
footer{
  text-align: center;
  color: azure;
  padding:10px;
}


p:first-of-type{
  border:beige 9px 6px 3px;
  padding:10px 20px 30px 40px;
  margin: 50px 200px;
  width:200px;
  box-sizing: border-box;
}