
head{
  font-weight: bold;
  font-family: serif;
}

body{
  font-weight:bold;
  font-family:serif;
  font-size: 18px;
  background-color: cornflowerblue;
  display: block;
  margin-top: 30px;
  border-top: 10px;
  padding-top: 15px;
}

.head{
  text-align: center;
  font-size: 25px;
  color: azure;
  padding: 25px;
}
.h2{
  text-align: left;
  color:azure;
  padding: 30px;
}
.para{
  text-align: left;
  color: darkblue;
  display:inline-block;
  padding: 50px;
  
}
.orli{
  text-align: left;
  color: darkblue;
  display:inline-block;
  padding: 20px;
}

.unor{
  text-align: left;
  color: darkblue;
  display:inline-block;
  padding: 20px;
}
.foot{
  text-align: center;
  color: azure;
  padding:10px;
}